<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="http://54.90.70.193:9200">
        <field name="host" layout="${machinename}"/>
        <field name="message" layout="${message}"/>
        <field name="createdAt" layout="${longdate:universalTime=True}"/>
        <field name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT}"/>
        <attribute name="user" layout="${mdlc:item=User}"/>
        <attribute name="role" layout="${mdlc:item=Role}"/>
        <attribute name="correlationId" layout="${mdlc:item=CorrelationId}"/>
      </target>
    </target>
  </targets>


  <rules>
    <logger name="*" minlevel="Info" writeTo="elastic" />
  </rules>
</nlog>
